footer {
  background-color: gray;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
  user-select: none;
}

@media (min-height: 100vh) {
  footer {
    position: relative;
  }
}

@media (max-height: 99vh) {
  footer {
    position: fixed;
  }
}
